<% content_for :title do %>
	Content Management System Test
<% end %>
<% content_for :header do %>
 <h1><a href="http://jamesvince.net/projectman/new/4/test" style="color: rgb(255, 255, 255);">Content Management System</a></h1>
  <div id="navigation">
    <ul>
      <li><a href="http://jamesvince.net/projectman/new/4/test" style="background: none repeat scroll 0% 0% rgb(102, 102, 102);">Dashboard</a></li>
      <li><a href="http://jamesvince.net/projectman/new/4/test">Milestone</a></li>
      <li><a href="http://jamesvince.net/projectman/new/4/test">Issues</a></li>
      <li><a href="http://jamesvince.net/projectman/new/4/test">Calender</a></li>
      <li><a href="http://jamesvince.net/projectman/new/4/test">Meetings</a></li>
      <li><a href="http://jamesvince.net/projectman/new/4/test">Files</a></li>
      <li><a href="http://jamesvince.net/projectman/new/4/test">Timeshets</a></li>
      <li><a href="http://jamesvince.net/projectman/new/4/test">Reports</a></li>
      <li><a href="http://jamesvince.net/projectman/new/4/test">Users</a></li>

    </ul>
  </div>

<% end %>

<% content_for :left do %>
    <p style="padding-left:15px;"><a href="http://jamesvince.net/projectman/new/4/pp"><img src="http://0.0.0.0:8080/noPic.jpg"></a></p>
    <ul>
      <li><a href="http://jamesvince.net/projectman/new/4/test">Change pictue</a></li>
      <li><a href="http://jamesvince.net/projectman/new/4/test">Edit Profile</a></li>
      <li><a href="http://jamesvince.net/projectman/new/4/test">&nbsp;</a></li>
      <li><a href="http://jamesvince.net/projectman/new/4/test">&nbsp;</a></li>
      <li><a href="http://jamesvince.net/projectman/new/4/test">&nbsp;</a></li>
      <li><a href="http://jamesvince.net/projectman/new/4/test">&nbsp;</a></li>

    </ul>
<% end %>

<% content_for :breadcrumbs do %>

		<ul>
			<li><a href="test">New milestone</a></li> |
			<li><a href="test">New Task</a></li> |
      		 	<li><a href="test">Sheduale Meeting</a></li> |
			<li><a href="test">Upload new file</a></li> |
			<li><a href="test">New user</a></li> |
			<li><a href="test">Files</a></li> |
		</ul>  
<% end %>

<% content_for :main do %>
                        <h2>Main content</h2>
                        <p>Sapibulumnibh phasellus nulla egestibulum enim pretium elit
tincidunt estiquam ultrisque donectetur. Sedcondimentumsan odio
hendrerit proin vitae dignis nibh ac justo id congue. Amesintesque vel
curabitae volutpat donec alique nasceleifendimentesque montesque rhoncus
 quis eros. Vestnunc nonummy</p>
                        <p>Montegeraliquam sed pede in cursus praesenec vestas rhoncus
wisi at wisi. Condisseloborttis enim et ipsum mauristie id felit
adipiscipit ac auctortorttitor sempor. Vitantesqueat sempus non sed et
mus sit vivamus purus netus hendiment. Pretiuma diam et id tempus dolor
por wisi sed volutpat facilisi.</p>
                        <p>Wisiet sus adipit phasellentum elit condissim
consecteturpiscing sapien vivamus et congue. Utvel tris quismod cursus
liberos elit nisse curabitur tur parturpis tellenterdum. Semperligula
curabitae tellentesque nulla trices vestas ristibulum id justo auctor
facinia. Natisdonec consequat nibh pellus.</p>
                        <h2>Secondary content</h2>
                        <p>Vestibusodio euisque id elerisus lacus tincidunt sit
malesuada lacus pellus parturpiscing. Pellenterdumat maecenatoque cras a
 magna nibh et quis diam ames et. Laoremvolutpat ac dolor eget eget
temper lacus vestibus velit lacus venean. Magnaipsum tellus morbi leo
aliquat nulla convallis pellentesque.</p>
                        <p>Vestibusodio euisque id elerisus lacus tincidunt sit malesuada
lacus pellus parturpiscing. Pellenterdumat maecenatoque cras a magna
nibh et quis diam ames et. Laoremvolutpat ac dolor eget eget temper
lacus vestibus velit lacus venean. Magnaipsum tellus morbi leo aliquat
nulla convallis pellentesque.</p>
                        <p>Vestibusodio euisque id elerisus lacus tincidunt sit malesuada
lacus pellus parturpiscing. Pellenterdumat maecenatoque cras a magna
nibh et quis diam ames et. Laoremvolutpat ac dolor eget eget temper
lacus vestibus velit lacus venean. Magnaipsum tellus morbi leo aliquat
nulla convallis pellentesque.</p>
                        <p>Vestibusodio euisque id elerisus lacus tincidunt sit malesuada
lacus pellus parturpiscing. Pellenterdumat maecenatoque cras a magna
nibh et quis diam ames et. Laoremvolutpat ac dolor eget eget temper
lacus vestibus velit lacus venean. Magnaipsum tellus morbi leo aliquat
nulla convallis pellentesque.</p>
                        <p>Vestibusodio euisque id elerisus lacus tincidunt sit malesuada
lacus pellus parturpiscing. Pellenterdumat maecenatoque cras a magna
nibh et quis diam ames et. Laoremvolutpat ac dolor eget eget temper
lacus vestibus velit lacus venean. Magnaipsum tellus morbi leo aliquat
nulla convallis pellentesque.</p>
              


<% end %>
<% content_for :right do %>
                <div class="right-boxes">
                        <h2>Updates</h2>
                        <p>
                                dknsd dsjshjjk ds dsj dshnjnjkwo sdnjnjkw snjkds wjks wos kwn kqp<br><br>
                                dknsd dsjshjjk ds dsj dshnjnjkwo sdnjnjkw snjkds wjks wos kwn kqp<br>
                        </p>
                </div>

                <div class="right-boxes">
                        <h2>New Files</h2>
                        <p>
                                dknsd dsjshjjk ds dsj dshnjnjkwo sdnjnjkw snjkds wjks wos kwn kqp<br><br>
                                dknsd dsjshjjk ds dsj dshnjnjkwo sdnjnjkw snjkds wjks wos kwn kqp<br>
                        </p>
                </div>

<% end %>

<% content_for :footer do %>
Copyright &copy;
<% end %>

